body {
  background: #f6f6fa;
  padding: 40px 40px 40px 40px;
  font-family: "Montserrat", sans-serif;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
}
/* Main content */
.main-content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  box-sizing: border-box;
}
/* Sidebar */
.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
}
.sidebar-content {
  padding: 40px 40px 40px;
  box-sizing: border-box;
}
.contacts-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 8px;
  color: #161d2a;
}
.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2979ff;
}
.contacts-item {
  margin-top: 0;
  margin-bottom: 4px;
}
.contacts-container {
  margin-bottom: 40px;
}
/* Skill Container */
.skills-title {
  font-weight: 700;
  font-size: 22px;
  line-height: normal;
  color: #161d2a;
  margin-top: 0;
  margin-bottom: 8px;
}
.skills-list {
  padding-left: 16px;
}
.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
.skills-container {
  margin-bottom: 40px;
}

/* Main content */

.my-profession {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}
.my-name {
  color: #000;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}
.my-descr {
  color: #595959;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.my-info {
  margin-bottom: 40px;
}
/* My projects */
.my-projects-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.my-projects-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.my-projects-list {
  padding-left: 16px;
}
.my-projects-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: #005fff;
}
.my-projects-item-tech {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-container {
  margin-bottom: 40px;
}
/* Work exprience */
.work-exprience-container {
  margin-bottom: 12px;
}
.work-exprience-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.work-exprience-company {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}
.company-name {
  color: #6d9bf5;
}
.work-exprience-period {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}
.work-exprience-period-separator {
  color: #000;
}
.work-exprience-duties-list {
  padding-left: 16px;
}
.work-exprience-duties-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* Education */
.education-container {
  margin-top: 40px;
}
.education-title {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.education-institution {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-top: 0;
  margin-bottom: 8px;
}
.education-period {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
  margin-top: 0;
  margin-bottom: 8px;
}
.education-period-separator {
  color: #000;
}
.education-profession {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

@media screen and (max-width: 960px) {
  body {
    padding: 20px 20px 20px 20px;
  }

  .main-content {
    padding: 40px;
  }
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 250px;
  }

  .my-photo {
    width: 250px;
  }

  .sidebar-content {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
  }

  .sidebar {
    width: 200px;
  }

  .my-photo {
    width: 200px;
  }

  .main-content {
    padding: 20px;
  }

  .my-name {
    font-size: 28px;
  }
}

@media screen and (max-width: 510px) {
  .wrapper {
    flex-direction: column;
    max-width: 510px;
  }

  .sidebar {
    width: 100%;
  }

  .my-photo {
    width: 100%;
  }
}
